body{
    background-color: antiquewhite;
 }
 
 .navbar{
     align-items: baseline;
 }
   .logo{
     color: #dc3027;
 }
 
 a.nav-link{
 font-size: 25px;
 display: flex;
 align-items: center;
 
 }
 .dropdown-menu.show {
     display: block;
     font-size: 20px;
     width: 350px;
 }
 /*Opções*/
   #cursos{
     list-style: none;
     color: #f8f9fa;
     font-size: 30px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:center;
     gap: 30px;
     padding-top: 50px;
     padding-bottom: 50px;
     margin-left: 150px;
     margin-right: 150px;
   }
   
   #cursos li{ 
     width: 300px;
     height: 400px;
     background-color: rgb(218, 197, 157);
    }  
.card img{
  width: 280px;
  height: 350px;
  position: relative;
  transition: 0,5s ease-out;
  overflow: visible;
  border: 3px solid #dc3027;
}

.card-button{
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #dc3027;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.name-receita{
  display: flex;
  justify-content: center;
  background-color: #dc3027;
  color: #f8f9fa;
  border: none;
  border-radius: 5px 5px 0 0;
}
.card-button a{
  text-decoration: none;
  color: #f8f9fa;
  font-size: 20px;
}
.card-button a:hover{
  text-decoration: underline;
}
.card:hover .card-button{
  transform: translate(-50%, 50%);
  opacity: 1;
}